{% extends 'base.html.twig' %}

{% block body %}



<div class="new-contract-container">
    <section class="new-contract-navigation">
        <button id="contract-types-btn" class="btn btn-success">Вид договор</button> <br>
        <button id="selected-lands-btn" class="btn">Имоти</button> <br>
        <button id="holders-btn" class="btn">Наемател</button> <br>
        <button id="contract-data-btn" class="btn">Срок/Заповед</button> <br>
        <button id="preview-btn" class="btn">Преглед/Запазване</button> <br>
        <button class="btn btn-danger">Отказ</button> <br>
    </section>


    <section class="new-contract">
        <form action="">
            <div class="contract-types active">
                <label for="contract-types">Вид Договор :</label>
                <select class="form-control" name="types" id="contract-types">
                    <option value="1">Едногодишен договор</option>
                    <option value="2">Многогодишен договор</option>
                    <option value="3">Анекс към договор</option>
                </select>
            </div>

            <div class="selected-lands">
                <div class="jumbotron" style="padding: 30px">
                    <legend>
                        Определи площа на избраните имоти за новия договор
                    </legend>
                    <span style="color: red">Няма избрани имоти</span>
                </div>
            </div>
            <div class="holder">
                <h1>Holgers</h1>
            </div>
            <div class="contract-data">
                <h1>Contract Data</h1>
            </div>
            <div class="contract-preview">



                <head>
                    <link rel="stylesheet" href="{{ asset('bs/css/bootstrap.css') }}">
                    <meta http-equiv=Content-Type content="text/html; charset=windows-1251">
                    <meta name=ProgId content=Word.Document>
                    <meta name=Generator content="Microsoft Word 15">
                    <meta name=Originator content="Microsoft Word 15">
                    <link rel=File-List href="rtf_files/filelist.xml">
                    <title>Д   О   Г   О   В   О   Р</title>
                    <!--[if gte mso 9]><xml>
                        <o:DocumentProperties>
                            <o:Author>Svetoslava</o:Author>
                            <o:LastAuthor>Acer</o:LastAuthor>
                            <o:Revision>2</o:Revision>
                            <o:TotalTime>2</o:TotalTime>
                            <o:LastPrinted>2015-02-13T11:09:00Z</o:LastPrinted>
                            <o:Created>2017-07-24T15:52:00Z</o:Created>
                            <o:LastSaved>2017-07-24T15:52:00Z</o:LastSaved>
                            <o:Pages>1</o:Pages>
                            <o:Words>333</o:Words>
                            <o:Characters>1899</o:Characters>
                            <o:Company>Obstina</o:Company>
                            <o:Lines>15</o:Lines>
                            <o:Paragraphs>4</o:Paragraphs>
                            <o:CharactersWithSpaces>2228</o:CharactersWithSpaces>
                            <o:Version>15.00</o:Version>
                        </o:DocumentProperties>
                        <o:OfficeDocumentSettings>
                            <o:AllowPNG/>
                        </o:OfficeDocumentSettings>
                    </xml><![endif]-->
                    <link rel=themeData href="rtf_files/themedata.thmx">
                    <link rel=colorSchemeMapping href="rtf_files/colorschememapping.xml">
                    <!--[if gte mso 9]><xml>
                        <w:WordDocument>
                            <w:TrackMoves>false</w:TrackMoves>
                            <w:TrackFormatting/>
                            <w:HyphenationZone>21</w:HyphenationZone>
                            <w:ValidateAgainstSchemas/>
                            <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
                            <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
                            <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
                            <w:DoNotPromoteQF/>
                            <w:LidThemeOther>BG</w:LidThemeOther>
                            <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
                            <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
                            <w:Compatibility>
                                <w:BreakWrappedTables/>
                                <w:SnapToGridInCell/>
                                <w:WrapTextWithPunct/>
                                <w:UseAsianBreakRules/>
                                <w:UseWord2002TableStyleRules/>
                                <w:UseWord2010TableStyleRules/>
                                <w:DontUseIndentAsNumberingTabStop/>
                                <w:FELineBreak11/>
                                <w:WW11IndentRules/>
                                <w:DontAutofitConstrainedTables/>
                                <w:AutofitLikeWW11/>
                                <w:HangulWidthLikeWW11/>
                                <w:UseNormalStyleForList/>
                                <w:DontVertAlignCellWithSp/>
                                <w:DontBreakConstrainedForcedTables/>
                                <w:DontVertAlignInTxbx/>
                                <w:Word11KerningPairs/>
                                <w:CachedColBalance/>
                            </w:Compatibility>
                            <m:mathPr>
                                <m:mathFont m:val="Cambria Math"/>
                                <m:brkBin m:val="before"/>
                                <m:brkBinSub m:val="&#45;-"/>
                                <m:smallFrac m:val="off"/>
                                <m:dispDef/>
                                <m:lMargin m:val="0"/>
                                <m:rMargin m:val="0"/>
                                <m:defJc m:val="centerGroup"/>
                                <m:wrapIndent m:val="1440"/>
                                <m:intLim m:val="subSup"/>
                                <m:naryLim m:val="undOvr"/>
                            </m:mathPr></w:WordDocument>
                    </xml><![endif]--><!--[if gte mso 9]><xml>
                        <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="false"
                                        DefSemiHidden="false" DefQFormat="false" LatentStyleCount="371">
                            <w:LsdException Locked="false" QFormat="true" Name="Normal"/>
                            <w:LsdException Locked="false" QFormat="true" Name="heading 1"/>
                            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                                            QFormat="true" Name="heading 2"/>
                            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                                            QFormat="true" Name="heading 3"/>
                            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                                            QFormat="true" Name="heading 4"/>
                            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                                            QFormat="true" Name="heading 5"/>
                            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                                            QFormat="true" Name="heading 6"/>
                            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                                            QFormat="true" Name="heading 7"/>
                            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                                            QFormat="true" Name="heading 8"/>
                            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                                            QFormat="true" Name="heading 9"/>
                            <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
                                            QFormat="true" Name="caption"/>
                            <w:LsdException Locked="false" QFormat="true" Name="Title"/>
                            <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
                            <w:LsdException Locked="false" QFormat="true" Name="Subtitle"/>
                            <w:LsdException Locked="false" QFormat="true" Name="Strong"/>
                            <w:LsdException Locked="false" QFormat="true" Name="Emphasis"/>
                            <w:LsdException Locked="false" Priority="99" Name="No List"/>
                            <w:LsdException Locked="false" Priority="99" SemiHidden="true"
                                            Name="Placeholder Text"/>
                            <w:LsdException Locked="false" Priority="1" QFormat="true" Name="No Spacing"/>
                            <w:LsdException Locked="false" Priority="60" Name="Light Shading"/>
                            <w:LsdException Locked="false" Priority="61" Name="Light List"/>
                            <w:LsdException Locked="false" Priority="62" Name="Light Grid"/>
                            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1"/>
                            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2"/>
                            <w:LsdException Locked="false" Priority="65" Name="Medium List 1"/>
                            <w:LsdException Locked="false" Priority="66" Name="Medium List 2"/>
                            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1"/>
                            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2"/>
                            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3"/>
                            <w:LsdException Locked="false" Priority="70" Name="Dark List"/>
                            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading"/>
                            <w:LsdException Locked="false" Priority="72" Name="Colorful List"/>
                            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid"/>
                            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 1"/>
                            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 1"/>
                            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 1"/>
                            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 1"/>
                            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 1"/>
                            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 1"/>
                            <w:LsdException Locked="false" Priority="99" SemiHidden="true" Name="Revision"/>
                            <w:LsdException Locked="false" Priority="34" QFormat="true"
                                            Name="List Paragraph"/>
                            <w:LsdException Locked="false" Priority="29" QFormat="true" Name="Quote"/>
                            <w:LsdException Locked="false" Priority="30" QFormat="true"
                                            Name="Intense Quote"/>
                            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 1"/>
                            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 1"/>
                            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 1"/>
                            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 1"/>
                            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 1"/>
                            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 1"/>
                            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 1"/>
                            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 1"/>
                            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 2"/>
                            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 2"/>
                            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 2"/>
                            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 2"/>
                            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 2"/>
                            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 2"/>
                            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 2"/>
                            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 2"/>
                            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 2"/>
                            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 2"/>
                            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 2"/>
                            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 2"/>
                            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 2"/>
                            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 2"/>
                            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 3"/>
                            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 3"/>
                            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 3"/>
                            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 3"/>
                            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 3"/>
                            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 3"/>
                            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 3"/>
                            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 3"/>
                            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 3"/>
                            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 3"/>
                            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 3"/>
                            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 3"/>
                            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 3"/>
                            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 3"/>
                            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 4"/>
                            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 4"/>
                            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 4"/>
                            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 4"/>
                            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 4"/>
                            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 4"/>
                            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 4"/>
                            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 4"/>
                            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 4"/>
                            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 4"/>
                            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 4"/>
                            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 4"/>
                            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 4"/>
                            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 4"/>
                            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 5"/>
                            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 5"/>
                            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 5"/>
                            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 5"/>
                            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 5"/>
                            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 5"/>
                            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 5"/>
                            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 5"/>
                            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 5"/>
                            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 5"/>
                            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 5"/>
                            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 5"/>
                            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 5"/>
                            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 5"/>
                            <w:LsdException Locked="false" Priority="60" Name="Light Shading Accent 6"/>
                            <w:LsdException Locked="false" Priority="61" Name="Light List Accent 6"/>
                            <w:LsdException Locked="false" Priority="62" Name="Light Grid Accent 6"/>
                            <w:LsdException Locked="false" Priority="63" Name="Medium Shading 1 Accent 6"/>
                            <w:LsdException Locked="false" Priority="64" Name="Medium Shading 2 Accent 6"/>
                            <w:LsdException Locked="false" Priority="65" Name="Medium List 1 Accent 6"/>
                            <w:LsdException Locked="false" Priority="66" Name="Medium List 2 Accent 6"/>
                            <w:LsdException Locked="false" Priority="67" Name="Medium Grid 1 Accent 6"/>
                            <w:LsdException Locked="false" Priority="68" Name="Medium Grid 2 Accent 6"/>
                            <w:LsdException Locked="false" Priority="69" Name="Medium Grid 3 Accent 6"/>
                            <w:LsdException Locked="false" Priority="70" Name="Dark List Accent 6"/>
                            <w:LsdException Locked="false" Priority="71" Name="Colorful Shading Accent 6"/>
                            <w:LsdException Locked="false" Priority="72" Name="Colorful List Accent 6"/>
                            <w:LsdException Locked="false" Priority="73" Name="Colorful Grid Accent 6"/>
                            <w:LsdException Locked="false" Priority="19" QFormat="true"
                                            Name="Subtle Emphasis"/>
                            <w:LsdException Locked="false" Priority="21" QFormat="true"
                                            Name="Intense Emphasis"/>
                            <w:LsdException Locked="false" Priority="31" QFormat="true"
                                            Name="Subtle Reference"/>
                            <w:LsdException Locked="false" Priority="32" QFormat="true"
                                            Name="Intense Reference"/>
                            <w:LsdException Locked="false" Priority="33" QFormat="true" Name="Book Title"/>
                            <w:LsdException Locked="false" Priority="37" SemiHidden="true"
                                            UnhideWhenUsed="true" Name="Bibliography"/>
                            <w:LsdException Locked="false" Priority="39" SemiHidden="true"
                                            UnhideWhenUsed="true" QFormat="true" Name="TOC Heading"/>
                            <w:LsdException Locked="false" Priority="41" Name="Plain Table 1"/>
                            <w:LsdException Locked="false" Priority="42" Name="Plain Table 2"/>
                            <w:LsdException Locked="false" Priority="43" Name="Plain Table 3"/>
                            <w:LsdException Locked="false" Priority="44" Name="Plain Table 4"/>
                            <w:LsdException Locked="false" Priority="45" Name="Plain Table 5"/>
                            <w:LsdException Locked="false" Priority="40" Name="Grid Table Light"/>
                            <w:LsdException Locked="false" Priority="46" Name="Grid Table 1 Light"/>
                            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2"/>
                            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3"/>
                            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4"/>
                            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark"/>
                            <w:LsdException Locked="false" Priority="51" Name="Grid Table 6 Colorful"/>
                            <w:LsdException Locked="false" Priority="52" Name="Grid Table 7 Colorful"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="Grid Table 1 Light Accent 1"/>
                            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 1"/>
                            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 1"/>
                            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 1"/>
                            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 1"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="Grid Table 6 Colorful Accent 1"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="Grid Table 7 Colorful Accent 1"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="Grid Table 1 Light Accent 2"/>
                            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 2"/>
                            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 2"/>
                            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 2"/>
                            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 2"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="Grid Table 6 Colorful Accent 2"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="Grid Table 7 Colorful Accent 2"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="Grid Table 1 Light Accent 3"/>
                            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 3"/>
                            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 3"/>
                            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 3"/>
                            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 3"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="Grid Table 6 Colorful Accent 3"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="Grid Table 7 Colorful Accent 3"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="Grid Table 1 Light Accent 4"/>
                            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 4"/>
                            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 4"/>
                            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 4"/>
                            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 4"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="Grid Table 6 Colorful Accent 4"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="Grid Table 7 Colorful Accent 4"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="Grid Table 1 Light Accent 5"/>
                            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 5"/>
                            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 5"/>
                            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 5"/>
                            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 5"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="Grid Table 6 Colorful Accent 5"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="Grid Table 7 Colorful Accent 5"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="Grid Table 1 Light Accent 6"/>
                            <w:LsdException Locked="false" Priority="47" Name="Grid Table 2 Accent 6"/>
                            <w:LsdException Locked="false" Priority="48" Name="Grid Table 3 Accent 6"/>
                            <w:LsdException Locked="false" Priority="49" Name="Grid Table 4 Accent 6"/>
                            <w:LsdException Locked="false" Priority="50" Name="Grid Table 5 Dark Accent 6"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="Grid Table 6 Colorful Accent 6"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="Grid Table 7 Colorful Accent 6"/>
                            <w:LsdException Locked="false" Priority="46" Name="List Table 1 Light"/>
                            <w:LsdException Locked="false" Priority="47" Name="List Table 2"/>
                            <w:LsdException Locked="false" Priority="48" Name="List Table 3"/>
                            <w:LsdException Locked="false" Priority="49" Name="List Table 4"/>
                            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark"/>
                            <w:LsdException Locked="false" Priority="51" Name="List Table 6 Colorful"/>
                            <w:LsdException Locked="false" Priority="52" Name="List Table 7 Colorful"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="List Table 1 Light Accent 1"/>
                            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 1"/>
                            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 1"/>
                            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 1"/>
                            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 1"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="List Table 6 Colorful Accent 1"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="List Table 7 Colorful Accent 1"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="List Table 1 Light Accent 2"/>
                            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 2"/>
                            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 2"/>
                            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 2"/>
                            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 2"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="List Table 6 Colorful Accent 2"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="List Table 7 Colorful Accent 2"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="List Table 1 Light Accent 3"/>
                            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 3"/>
                            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 3"/>
                            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 3"/>
                            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 3"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="List Table 6 Colorful Accent 3"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="List Table 7 Colorful Accent 3"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="List Table 1 Light Accent 4"/>
                            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 4"/>
                            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 4"/>
                            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 4"/>
                            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 4"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="List Table 6 Colorful Accent 4"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="List Table 7 Colorful Accent 4"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="List Table 1 Light Accent 5"/>
                            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 5"/>
                            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 5"/>
                            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 5"/>
                            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 5"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="List Table 6 Colorful Accent 5"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="List Table 7 Colorful Accent 5"/>
                            <w:LsdException Locked="false" Priority="46"
                                            Name="List Table 1 Light Accent 6"/>
                            <w:LsdException Locked="false" Priority="47" Name="List Table 2 Accent 6"/>
                            <w:LsdException Locked="false" Priority="48" Name="List Table 3 Accent 6"/>
                            <w:LsdException Locked="false" Priority="49" Name="List Table 4 Accent 6"/>
                            <w:LsdException Locked="false" Priority="50" Name="List Table 5 Dark Accent 6"/>
                            <w:LsdException Locked="false" Priority="51"
                                            Name="List Table 6 Colorful Accent 6"/>
                            <w:LsdException Locked="false" Priority="52"
                                            Name="List Table 7 Colorful Accent 6"/>
                        </w:LatentStyles>
                    </xml><![endif]-->
                    <style>
                        <!--
                        /* Font Definitions */
                        @font-face
                        {font-family:"Cambria Math";
                            panose-1:2 4 5 3 5 4 6 3 2 4;
                            mso-font-charset:204;
                            mso-generic-font-family:roman;
                            mso-font-pitch:variable;
                            mso-font-signature:-536870145 1107305727 0 0 415 0;}
                        @font-face
                        {font-family:"Segoe UI";
                            panose-1:2 11 5 2 4 2 4 2 2 3;
                            mso-font-charset:204;
                            mso-generic-font-family:swiss;
                            mso-font-pitch:variable;
                            mso-font-signature:-469750017 -1073683329 9 0 511 0;}
                        @font-face
                        {font-family:Tahoma;
                            panose-1:2 11 6 4 3 5 4 4 2 4;
                            mso-font-charset:204;
                            mso-generic-font-family:swiss;
                            mso-font-pitch:variable;
                            mso-font-signature:-520081665 -1073717157 41 0 66047 0;}
                        /* Style Definitions */
                        p.MsoNormal, li.MsoNormal, div.MsoNormal
                        {mso-style-unhide:no;
                            mso-style-qformat:yes;
                            mso-style-parent:"";
                            margin:0cm;
                            margin-bottom:.0001pt;
                            mso-pagination:widow-orphan;
                            font-size:12.0pt;
                            font-family:"Times New Roman","serif";
                            mso-fareast-font-family:"Times New Roman";
                            mso-ansi-language:EN-US;
                            mso-fareast-language:EN-US;}
                        p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
                        {mso-style-priority:99;
                            mso-style-unhide:no;
                            mso-style-link:"Body Text Char";
                            margin-top:0cm;
                            margin-right:0cm;
                            margin-bottom:6.0pt;
                            margin-left:0cm;
                            mso-pagination:widow-orphan;
                            font-size:12.0pt;
                            font-family:"Times New Roman","serif";
                            mso-fareast-font-family:"Times New Roman";
                            mso-ansi-language:EN-US;
                            mso-fareast-language:EN-US;}
                        p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
                        {mso-style-priority:99;
                            mso-style-unhide:no;
                            mso-style-link:"Body Text Indent Char";
                            margin-top:0cm;
                            margin-right:0cm;
                            margin-bottom:6.0pt;
                            margin-left:18.0pt;
                            mso-pagination:widow-orphan;
                            font-size:12.0pt;
                            font-family:"Times New Roman","serif";
                            mso-fareast-font-family:"Times New Roman";
                            mso-ansi-language:EN-US;
                            mso-fareast-language:EN-US;}
                        p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap
                        {mso-style-noshow:yes;
                            mso-style-priority:99;
                            mso-style-unhide:no;
                            mso-style-link:"Document Map Char";
                            margin:0cm;
                            margin-bottom:.0001pt;
                            mso-pagination:widow-orphan;
                            background:navy;
                            font-size:12.0pt;
                            font-family:"Tahoma","sans-serif";
                            mso-fareast-font-family:"Times New Roman";
                            mso-ansi-language:EN-US;
                            mso-fareast-language:EN-US;}
                        span.BodyTextChar
                        {mso-style-name:"Body Text Char";
                            mso-style-noshow:yes;
                            mso-style-priority:99;
                            mso-style-unhide:no;
                            mso-style-locked:yes;
                            mso-style-link:"Body Text";
                            mso-ansi-font-size:12.0pt;
                            mso-bidi-font-size:12.0pt;
                            mso-ansi-language:EN-US;
                            mso-fareast-language:EN-US;}
                        span.BodyTextIndentChar
                        {mso-style-name:"Body Text Indent Char";
                            mso-style-noshow:yes;
                            mso-style-priority:99;
                            mso-style-unhide:no;
                            mso-style-locked:yes;
                            mso-style-link:"Body Text Indent";
                            mso-ansi-font-size:12.0pt;
                            mso-bidi-font-size:12.0pt;
                            mso-ansi-language:EN-US;
                            mso-fareast-language:EN-US;}
                        span.DocumentMapChar
                        {mso-style-name:"Document Map Char";
                            mso-style-noshow:yes;
                            mso-style-priority:99;
                            mso-style-unhide:no;
                            mso-style-locked:yes;
                            mso-style-link:"Document Map";
                            mso-ansi-font-size:8.0pt;
                            mso-bidi-font-size:8.0pt;
                            font-family:"Segoe UI","sans-serif";
                            mso-ascii-font-family:"Segoe UI";
                            mso-hansi-font-family:"Segoe UI";
                            mso-bidi-font-family:"Segoe UI";
                            mso-ansi-language:EN-US;
                            mso-fareast-language:EN-US;}
                        .MsoChpDefault
                        {mso-style-type:export-only;
                            mso-default-props:yes;}
                        .MsoPapDefault
                        {mso-style-type:export-only;}
                        @page WordSection1
                        {size:612.0pt 792.0pt;
                            margin:44.95pt 90.0pt 72.0pt 90.0pt;
                            mso-header-margin:35.4pt;
                            mso-footer-margin:35.4pt;
                            mso-paper-source:0;}
                        div.WordSection1
                        {page:WordSection1;}
                        -->
                    </style>
                    <!--[if gte mso 10]>
                    <style>
                        /* Style Definitions */
                        table.MsoNormalTable
                        {mso-style-name:"Table Normal";
                            mso-tstyle-rowband-size:0;
                            mso-tstyle-colband-size:0;
                            mso-style-noshow:yes;
                            mso-style-priority:99;
                            mso-style-parent:"";
                            mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
                            mso-para-margin:0cm;
                            mso-para-margin-bottom:.0001pt;
                            mso-pagination:widow-orphan;
                            font-size:10.0pt;
                            font-family:"Times New Roman","serif";}
                    </style>
                    <![endif]--><!--[if gte mso 9]><xml>
                        <o:shapedefaults v:ext="edit" spidmax="1026"/>
                    </xml><![endif]--><!--[if gte mso 9]><xml>
                        <o:shapelayout v:ext="edit">
                            <o:idmap v:ext="edit" data="1"/>
                        </o:shapelayout></xml><![endif]-->
                </head>
                <body lang=BG style='tab-interval:36.0pt'>
                <div class=WordSection1>
                    <p class=MsoNormal align=center style='margin-right:-27.0pt;text-align:center'>
                        <b style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><u>
                                    <span style='font-size:22.0pt;mso-ansi-language:BG'>
                                        <span style='mso-spacerun:yes'> </span>
                                        Д<span style='mso-spacerun:yes'>  </span>
                                        О<span style='mso-spacerun:yes'>  </span>
                                        Г<span style='mso-spacerun:yes'>  </span>
                                        О<span style='mso-spacerun:yes'>  </span>
                                        В<span style='mso-spacerun:yes'>  </span>
                                        О<span style='mso-spacerun:yes'>  </span>
                                        Р<o:p></o:p>
                                    </span>
                                </u></i>
                        </b>
                    </p>
                    <p class=MsoNormal align=center style='margin-right:-27.0pt;text-align:center;mso-outline-level:1'>
                        <b style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><u>
                            <span style='font-size:14.0pt;mso-ansi-language:BG'>
                                ЗА<span style='mso-spacerun:yes'>  </span>
                                НАЕМ<span style='mso-spacerun:yes'>  </span>
                                НА<span style='mso-spacerun:yes'> </span>
                                ЗЕМЕДЕЛСКА<span style='mso-spacerun:yes'>  </span>
                                ЗЕМЯ<o:p></o:p>
                            </span>
                        </u></i></b>
                    </p>
                    <p class=MsoNormal align=center style='margin-right:-27.0pt;text-align:center'>
                        <b style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'>
                            <span lang=EN-US style='font-size:20.0pt'><o:p>&nbsp;</o:p></span>
                            </i></b>
                    </p>
                    <p class=MsoNormal align=center style='margin-right:-27.0pt;text-align:center'>
                        <b style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'>
                                <span style='font-size:14.0pt;mso-ansi-language:BG'>№</span>
                            </i>
                        </b>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:14.0pt;mso-ansi-language:BG'> </span>
                        </b>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>……… /</span>
                        <span style='font-size:14.0pt'> </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>……… год.<o:p></o:p></span>
                    </p>
                    <p class=MsoNormal align=center style='margin-right:-27.0pt;text-align:center'>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class=MsoNormal style='margin-top:12.0pt;margin-right:-27.0pt;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify'>
                        <span style='mso-ansi-language:BG'>
                            <span style='mso-spacerun:yes'>          </span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>Днес </span>
                        <span lang=EN-US style='font-size:14.0pt'>………</span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>
                            год., в град Велинград на основание чл.21ал.1т.8 от ЗМСМА и във връзка с Решение №
                        </span>
                        <span lang=EN-US style='font-size:14.0pt'>
{#placeholder#}             <span id="placeholder-resheniq"></span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'> на Общински съвет Велинград и молба вх.№ </span>
                        <span lang=EN-US style='font-size:14.0pt'>
{#placeholder#}             <span id="placeholder-application"></span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'> се сключи настоящия договор между : <o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span  lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>
                            <span style='mso-spacerun:yes'>     </span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>1.Община Велинград с ЕИК 000351580, представлявана от </span>
                        <span lang=EN-US style='font-size:14.0pt'>
{#placeholder#}             <span id="placeholder-mayor-name"></span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>,</span>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'> наричан по-долу за краткост
                            <b style='mso-bidi-font-weight:normal'>НАЕМОДАТЕЛ </b>
                            от една страна и<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>
                            <span style='mso-spacerun:yes'>     </span>
                            2.
                        </span>
                        <span lang=EN-US style='font-size:14.0pt'>
{#placeholder#}             <span id="placeholder-holder-name"></span>, с адрес <span id="placeholder-holder-address"></span>
                        </span>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>
                            , наричан по-долу за краткост
                            <b style='mso-bidi-font-weight:normal'>НАЕМАТЕЛ</b>
                            от друга страна.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt'>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>
                            <span style='mso-spacerun:yes'>     </span>Страните се договориха за следното :<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>
                            <span style='mso-spacerun:yes'>     </span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>
                            Чл.1.<b style='mso-bidi-font-weight:normal'>НАЕМОДАТЕЛЯТ</b> предоставя на <b style='mso-bidi-font-weight:normal'>НАЕМАТЕЛЯ </b>за временно и възмездно ползване общинска земеделска земя,
                        </span>
                        <span style='font-size:14.0pt'> </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>представляващa имоти</span>
                        <span lang=EN-US style='font-size:14.0pt'> :<o:p></o:p></span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=EN-US style='font-size:14.0pt'>
{#placeholder#}             <span id="placeholder-lands"></span><o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span  style='font-size:14.0pt;mso-ansi-language:BG'>За срок от
                            <b style='mso-bidi-font-weight:normal'>една стопанска година, </b>
                            считано от </span>
                        <span lang=EN-US style='font-size:14.0pt'>
{#placeholder#}             <span id="placeholder-start"></span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'> год. до
                        </span>
                        <span lang=EN-US style='font-size:14.0pt'>
                            <span id="placeholder-expire"></span>
                        </span>
                        <span lang=EN-US style='font-size:14.0pt;mso-ansi-language:BG'> </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>год.<b style='mso-bidi-font-weight:normal'> </b><o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyTextIndent style='margin-top:0cm;margin-right:-27.0pt;margin-bottom:6.0pt;margin-left:0cm;text-align:justify'>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>
                            ІІ.Цена :<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>
                            <span style='mso-spacerun:yes'>     </span>
                        </span>
                        <span style='font-size:14.0pt; mso-ansi-language:BG'>
                            Чл.2.
                            <b style='mso-bidi-font-weight:normal'>НАЕМОДАТЕЛЯТ</b> предоставя на
                            <b style='mso-bidi-font-weight:normal'>НАЕМАТЕЛЯ</b> посочения по-горе имот срещу годишен наем в размер на
{#placeholder#}             <span id="placeholder-total-price"></span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'> лева /---------------------------------- лв. и ---------------------------------- ст./ за определения срок на ползване.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyTextIndent style='margin-top:0cm;margin-right:-27.0pt;margin-bottom:6.0pt;margin-left:0cm;text-align:justify'>
                        <span style='font-size: 14.0pt;mso-ansi-language:BG'>ІІІ.Права и задължения :<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>
                            <span style='mso-spacerun:yes'>     </span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>Чл.3.<b style='mso-bidi-font-weight:normal'>НАЕМОДАТЕЛЯТ</b>
                            има право да получи наема за текущата година не по-късно от тридесет дни преди
                            изтичане на стопанската година, както и да предоставя периодично информация и
                            методически указания на ползвателите относно необходимите мероприятия по
                            поддържане и опазване на земеделската земя.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>
                            <span  style='mso-spacerun:yes'>     </span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>Чл.4.<b style='mso-bidi-font-weight:normal'>НАЕМАТЕЛЯТ</b>
                            задължително трябва да бъде регистриран като земеделски производител, да ползва
                            имота само по неговото предназначение<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>съгласно чл.1 от договора, да го
                            поддържа в добро земеделско и екологично състояние и не променя начина на
                            трайно ползване, да не го преотстъпва на трети лица, както и да не извършва
                            строителни работи, за които се изисква разрешение за строеж, освен с
                            предварително писмено съгласие на <b style='mso-bidi-font-weight:normal'>НАЕМОДАТЕЛЯТ</b>.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>
                            <span style='mso-spacerun:yes'>      </span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>Чл.5.Действието на настоящия договор може да бъде
                            прекратено от всяка от страните от него с едномесечно писменно предизвестие на
                            ответната страна.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>
                            <span style='mso-spacerun:yes'>      </span>
                        </span>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'>Настоящият договор се сключи в 3/три/ еднообразни
                            екземпляра – по един за всяка от странит
                        </span>
                        <span lang=EN-US style='font-size:14.0pt'>e</span>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>.<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'><o:p>&nbsp;</o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='mso-ansi-language:RU'>Изготвил :<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=EN-US>
{#placeholder#}             <span id="placeholder-user-name"></span>
                            <br>
{#placeholder#}             <span id="placeholder-user-position"></span>
                        </span>
                        <span lang=RU style='mso-ansi-language:RU'>
                            <span style='mso-spacerun:yes'>         </span><o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span style='mso-ansi-language:BG'>Съгласувал :<o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span style='mso-ansi-language:BG'>
{#placeholder#}             <span id="placeholder-examiner-name"></span>
                            <br>
{#placeholder#}             <span id="placeholder-examiner-position"></span>
                            <o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='mso-ansi-language:RU'>
                            <o:p>&nbsp;</o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <span lang=RU style='mso-ansi-language:RU'>
                            <o:p>&nbsp;</o:p>
                        </span>
                    </p>

                    <p class=MsoBodyText style='margin-right:-27.0pt;text-align:justify'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:14.0pt;mso-ansi-language:BG'>НАЕМОДАТЕЛ:
                                <span style='mso-spacerun:yes'>                   </span>
                                <span style='mso-spacerun:yes'>                           </span>НАЕМАТЕЛ :
                            </span>
                        </b>
                        <b style='mso-bidi-font-weight:normal'><span lang=RU style='font-size:14.0pt;mso-ansi-language:RU'>
                                <o:p></o:p></span>
                        </b>
                    </p>

                    <p class=MsoNormal style='margin-top:12.0pt;margin-right:-27.0pt;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;mso-outline-level:1'>
                        <b style='mso-bidi-font-weight:normal'>
                            <span lang=EN-US style='font-size:14.0pt'>
{#placeholder#}                 <span id="placeholder-mayor-name"></span>
                            </span>
                        </b>
                        <b style='mso-bidi-font-weight:normal'>
                            <span lang=EN-US style='font-size:14.0pt;mso-ansi-language:BG'> </span>
                        </b>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:14.0pt;mso-ansi-language:BG'>
                                <span style='mso-spacerun:yes'>                     </span>
                                <span style='mso-spacerun:yes'> </span>
                                <span style='mso-spacerun:yes'>  </span>
                                <span style='mso-spacerun:yes'>       </span>
                                <span style='mso-spacerun:yes'> </span>
                            </span>
                        </b>
                        <b style='mso-bidi-font-weight:normal'>
                            <span lang=EN-US style='font-size:14.0pt'>
{#placeholder#}                 <span id="placeholder-holder-name"></span>
                            </span>
                        </b>
                        <b style='mso-bidi-font-weight:normal'>
                            <span style='font-size:14.0pt;mso-ansi-language: BG'>
                                <span style='mso-spacerun:yes'>       </span>
                            </span>
                        </b>
                        <span style='font-size:14.0pt;mso-ansi-language:BG'><o:p></o:p></span>
                    </p>

                    <p class=MsoNormal style='margin-top:12.0pt;margin-right:-27.0pt;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify'>
                        <span style='mso-ansi-language:BG'>Кмет на Община Велинград
                            <span style='mso-spacerun:yes'>                                         </span>
                            <span style='mso-spacerun:yes'> </span><o:p></o:p>
                        </span>
                    </p>

                </div>

                <a class="btn btn-success" href="{{ path('contract_create') }}">Запази</a>

                </body>

                </html>

            </div>
        </form>
    </section>
</div>
{% endblock %}